<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jypj.zgcsx.course.dao.XnxqMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="XnxqResultMap" type="org.jypj.zgcsx.course.entity.Xnxq">
        <id column="XNXQ_ID" property="id"/>
        <result column="XNXQ_XN" property="xn"/>
        <result column="XNXQ_XQ" property="xq"/>
        <result column="XNXQ_XQKSSJ" property="startDate"/>
        <result column="XNXQ_XQJSSJ" property="endDate"/>
        <result column="XNXQ_KCJSSJ" property="courseEndDate"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="XnxqColumnList">
        XNXQ.ID AS XNXQ_ID,
        XNXQ.XN AS XNXQ_XN,
        XNXQ.XQ AS XNXQ_XQ,
        XNXQ.XQKSSJ AS XNXQ_XQKSSJ,
        XNXQ.XQJSSJ AS XNXQ_XQJSSJ,
        XNXQ.KCJSSJ AS XNXQ_KCJSSJ
    </sql>

    <select id="selectCurrentXnxq" resultMap="XnxqResultMap">
        SELECT <include refid="XnxqColumnList"/>
        FROM ZXXX_XNXQ XNXQ
        WHERE XNXQ.XQKSSJ = (
            SELECT MAX(XQKSSJ)
            FROM ZXXX_XNXQ
            WHERE XQKSSJ &lt;= #{now}
        )
    </select>
</mapper>
