<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jypj.zgcsx.dao.CourseNoticeAttachmentDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="org.jypj.zgcsx.entity.CourseNoticeAttachment">
		<id column="ID" property="id" />
		<result column="COURSE_NOTICE_ID" property="courseNoticeId" />
		<result column="PATH" property="path" />
		<result column="FILE_NAME" property="fileName" />
		<result column="SUFFIX" property="suffix" />
		<result column="CREATE_USER" property="createUser" />
		<result column="CTIME" property="ctime" />
		<result column="MODIFY_USER" property="modifyUser" />
		<result column="MTIME" property="mtime" />
		<result column="CREATE_USER_ID" property="createUserId" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, COURSE_NOTICE_ID, PATH, FILE_NAME, SUFFIX, CREATE_USER, CTIME, MODIFY_USER, MTIME, CREATE_USER_ID
    </sql>

</mapper>
